.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.date-input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.date-input:hover {
    border-color: #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.react-calendar {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
    padding: 10px;
    background: #fff;
    transition: all 0.3s;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #e0f7fa;
    border-radius: 5px;
}

.react-calendar__tile--now {
    background: #ffecb3 !important;
    border-radius: 5px;
}

.react-calendar__tile--active {
    background: #81d4fa !important;
    border-radius: 5px;
    color: white;
}

.selected-date, .filtered-date {
    margin-top: 20px;
    text-align: center;
}

h3 {
    margin: 0;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}